
    .body1{
        background-image: url('../../imeges/faq.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        background-position: center;
       
      
    height: 710px;
   
}