.body_dir{
    background-image: url('../../imeges/Path\ 1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
   
  }